
.ui-autocomplete .highlight {
			text-decoration: underline;
			word-wrap: inherit;
			font-weight: bold;
			/* font-size: 30px; */
		}
.ui-autocomplete.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 13px;
}


