#displayLogs th, td { padding: 5px; }
#displayLogs table { border-collapse: separate; border-spacing: 5px; margin-left: 83%; }

#displayLogs button {
  text-align: left;
  margin-right: 24%; 
  color: #52d3aa;
} 

#displayLogs .col {
  width: 320px;
  float: left;
  margin-right:32px;
  margin-bottom: 16px;
}
#displayLogs h3 {
  margin: 0;
  background-color: #52d3aa;
  background-image: linear-gradient(bottom, #52d3aa 14%, #52d3aa 57%);
  background-image: -o-linear-gradient(bottom, #52d3aa 14%, #52d3aa 57%);
  background-image: -moz-linear-gradient(bottom, #52d3aa 14%, #52d3aa 57%);
  background-image: -webkit-linear-gradient(bottom, #52d3aa 14%, #52d3aa 57%);
  background-image: -ms-linear-gradient(bottom, #52d3aa 14%, #52d3aa 57%);
  display: block;
  padding: 10px;
  padding-left: 32px;
  margin: 0;
  color: white;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px solid rgba(128, 10, 85, 0.5);
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
  text-align: -webkit-center;
}

#displayLogs h3 a {
  color: white;
} 
#displayLogs h3:hover { background: #52d3aa; }
#displayLogs h3.open  { background: #52d3aa; }
#displayLogs h3.open a { background-position: 13px -25px; }
#displayLogs h3 + div { padding: 10px; }
#displayLogs h2 + div