.label-width {
	padding-left: 10%
}

.food {
}

.activity {
	margin-left: -27%;
	width: 114%;
}

}
.form-align {
	margin-left: 16%
}

.mandatory{
	color:red;
	font-size:xx-large;
	position: inherit;
}