.label-width {
	padding-left: 10%
}

.food {
}

.activity {
	margin-left: -27%;
	width: 114%;
}

}
.form-align {
	margin-left: 16%
}

.mandatory{
	color:red;
	font-size:xx-large;
	position: inherit;
}

.slider-font-style {
	font-size: small;
	font-family: monospace;
	margin-left: 10%;
}


.card-style {
	color: white;
	border-style: double;
	align: center;
}