<style>
  /*   @import url('http://fonts.googleapis.com/css?family=Source+Code+Pro'); */

/* #sidebar body {
  background-image: url('');
  background-size : cover;
}
#sidebar nav {
  width : 240px;
  float : left;
  -webkit-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

#sidebar input {
  display: none;
}

#sidebar label {
  display     : inline-block;
  margin-left : auto;
  width       : 60px;
  padding     : 18px 0;
  background-color: rgba(100,100,100,.3);
  font-size : 30px;
  color : #fff;
  text-align : center;
  cursor : pointer;
}

#sidebar li {
  list-style-type : none;
  border-top    : 1px solid #FFF;
  border-bottom : 1px solid #ddd;
  background-color: #f4f5f6;
  background-size : 200% 100%;
  background-position : 90% 0px;
  -webkit-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

#sidebar a {
  display    : block;
  padding    : 25px 0;
  color      : black;
  text-align : center;
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-decoration: none;
  -webkit-transition : color .1s;
  -moz-transition : color .1s;
  font-weight : 400
}

#sidebar a:hover {
  color : #fff;
  -webkit-transition : color .1s;
  -moz-transition : color .1s;
} */
.sidebar ul li.active{
	background:#52d3aa;
	color:#fff;
}
/* 
#sidebar li:nth-child(1) {
  border-top : none;
  background-image : -webkit-linear-gradient(left, #52d3aa 0%, #52d3aa 50%, #f4f5f6 0%);
  background-image : -moz-linear-gradient(left, #52d3aa 0%, #52d3aa 50%, #f4f5f6 0%);
}

#sidebar li:nth-child(2) {
  background-image : -webkit-linear-gradient(left, #000 0%, #000 50%, #f4f5f6 0%);
  background-image : -moz-linear-gradient(left, #000 0%, #000 50%, #f4f5f6 0%);
}

#sidebar li:nth-child(3) {
  background-image : -webkit-linear-gradient(left, #52d3aa 0%, #52d3aa 50%, #f4f5f6 0%);
  background-image : -moz-linear-gradient(left, #52d3aa 0%, #52d3aa 50%, #f4f5f6 0%);
}

#sidebar li:nth-child(4) {
  background-image : -webkit-linear-gradient(left, #000 0%, #000 50%, #f4f5f6 0%);
  background-image : -moz-linear-gradient(left, #000 0%, #000 50%, #f4f5f6 0%);
}

#sidebar li:nth-child(5) {
  background-image : -webkit-linear-gradient(left, #52d3aa 0%, #52d3aa 50%, #f4f5f6 0%);
  background-image : -moz-linear-gradient(left, #52d3aa 0%, #52d3aa 50%, #f4f5f6 0%);
}

#sidebar li:nth-child(6) {
  background-image : -webkit-linear-gradient(left, #000 0%, #000 50%, #f4f5f6 0%);
  background-image : -moz-linear-gradient(left, #000 0%, #000 50%, #f4f5f6 0%);
  border-bottom : none;
}


#sidebar li:hover {
  -webkit-transition : 0.3s cubic-bezier(0.175, 0.285, 0.32,1.0) all;
  -moz-transition : 0.3s cubic-bezier(0.175, 0.285, 0.32,1.0) all;
  background-position : 0% 0%;
}

#toggle:checked ~ nav {
  margin-left:  -240px;
  -webkit-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition : 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

#sidebar {
  height: 100%;
  padding-right: 19px;
  padding-top: 20px;
  margin-left:-9%;
}

#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
} */
</style>