.rating1, .rating2, .rating3, .rating4, .rating5, .rating6, .rating7, .rating8 {
    float:left;
}

.rating1:not(:checked) > input, .rating2:not(:checked) > input,
.rating3:not(:checked) > input, .rating4:not(:checked) > input,
.rating5:not(:checked) > input, .rating6:not(:checked) > input,
.rating7:not(:checked) > input, .rating8:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
    visibility: hidden;
}

.rating1:not(:checked) > label, .rating2:not(:checked) > label,
.rating3:not(:checked) > label, .rating4:not(:checked) > label,
.rating5:not(:checked) > label, .rating6:not(:checked) > label,
.rating7:not(:checked) > label, .rating8:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:290%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating1:not(:checked) > label:before, .rating2:not(:checked) > label:before,
.rating3:not(:checked) > label:before, .rating4:not(:checked) > label:before,
.rating5:not(:checked) > label:before, .rating6:not(:checked) > label:before,
.rating7:not(:checked) > label:before, .rating8:not(:checked) > label:before {
    content: '★ ';
}

.rating1 > input:checked ~ label, .rating2 > input:checked ~ label,
.rating3 > input:checked ~ label, .rating4 > input:checked ~ label,
.rating5 > input:checked ~ label, .rating6 > input:checked ~ label,
.rating7 > input:checked ~ label, .rating8 > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating1:not(:checked) > label:hover,.rating2:not(:checked) > label:hover,
.rating3:not(:checked) > label:hover,.rating4:not(:checked) > label:hover,
.rating5:not(:checked) > label:hover,.rating6:not(:checked) > label:hover,
.rating7:not(:checked) > label:hover,.rating8:not(:checked) > label:hover,
.rating1:not(:checked) > label:hover ~ label,.rating2:not(:checked) > label:hover ~ label,
.rating3:not(:checked) > label:hover ~ label,.rating4:not(:checked) > label:hover ~ label,
.rating5:not(:checked) > label:hover ~ label,.rating6:not(:checked) > label:hover ~ label,
.rating7:not(:checked) > label:hover ~ label,.rating8:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating1 > input:checked + label:hover,.rating2 > input:checked + label:hover,
.rating3 > input:checked + label:hover,.rating4 > input:checked + label:hover,
.rating5 > input:checked + label:hover,.rating6 > input:checked + label:hover,
.rating7 > input:checked + label:hover,.rating8 > input:checked + label:hover,
.rating1 > input:checked + label:hover ~ label,.rating2 > input:checked + label:hover ~ label,
.rating3 > input:checked + label:hover ~ label,.rating4 > input:checked + label:hover ~ label,
.rating5 > input:checked + label:hover ~ label,.rating6 > input:checked + label:hover ~ label,
.rating6 > input:checked + label:hover ~ label,.rating8 > input:checked + label:hover ~ label,
.rating1 > input:checked ~ label:hover,.rating2 > input:checked ~ label:hover,
.rating3 > input:checked ~ label:hover,.rating4 > input:checked ~ label:hover,
.rating5 > input:checked ~ label:hover,.rating6 > input:checked ~ label:hover,
.rating7 > input:checked ~ label:hover,.rating8 > input:checked ~ label:hover,
.rating1 > input:checked ~ label:hover ~ label,.rating2 > input:checked ~ label:hover ~ label,
.rating3 > input:checked ~ label:hover ~ label,.rating4 > input:checked ~ label:hover ~ label,
.rating5 > input:checked ~ label:hover ~ label,.rating6 > input:checked ~ label:hover ~ label,
.rating7 > input:checked ~ label:hover ~ label,.rating8 > input:checked ~ label:hover ~ label,
.rating1 > input:checked ~ label:hover ~ label, .rating2 > input:checked ~ label:hover ~ label,
.rating3 > input:checked ~ label:hover ~ label, .rating4 > input:checked ~ label:hover ~ label,
.rating5 > input:checked ~ label:hover ~ label, .rating6 > input:checked ~ label:hover ~ label,
.rating7 > input:checked ~ label:hover ~ label, .rating8 > input:checked ~ label:hover ~ label{
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating1 > label:active, .rating2 > label:active
.rating3 > label:active, .rating4 > label:active
.rating5 > label:active, .rating6 > label:active
.rating7 > label:active, .rating8 > label:active {
    position:relative;
    top:2px;
    left:2px;
}