<div class="container">
	<div class="row row-offcanvas row-offcanvas-left" id="displayLogs">
		<div ng-include src="'partials/sidebar.html'" />
		

		<div ng-show="addDeviceOption" class="pos-with-nav">
		<div class="col c2" style="width: 16%;">
		<div id="custom-show-hide-example" >
			<table border="0">
				<tr>
					<td>
						<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='/auth/initiateAuthorization/fitbit'" style="color: #52d3aa;">
				       	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				       	Connect Fitbit
					 	</button>
					</td>
					<td>
						<button type="button" class="btn btn-default btn-lg" onclick="window.location.href='/auth/initiateAuthorization/jawbone'" style="color: #52d3aa;">
					       	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					       	Connect Jawbone
						 </button>
						 
					</td>
				</tr>
			</table>
		</div>
		</div>
		</div>
		<br>
		<div class="col-sm-9 pos-with-nav">
			<H2 style="background-color:#52d3aa;color:white"><strong><div align="center">YOUR CONNECTED DEVICES</div></strong></H2>
			<div ng-show="addDeviceOption">
			<div align="center">You dont have any devices connected.</div>
			</div>
			<div ng-show="!(addDeviceOption)">
			<strong>Device Name : </strong>{{deviceName}}<br><br>
			<strong>Device Connection Status : </strong>{{deviceConnectionStatus}}<br><br>
			<strong>Connected on : </strong>{{deviceConnectionTimeStamp}}<br><br>
			<strong>Last Synched : </strong>{{deviceSynchTimeStamp}} <br><br>
			</div>
		</div>
	</div>
</div>