<span class="container">
  <span class="row row-offcanvas row-offcanvas-left">
    <!-- include sidebar. Always include inside a row element -->
    <div ng-include src="'partials/sidebar.html'" />
	<div ng-include src="'js/commons/datepicker.js'" />
    <div class="col-xs-12 col-sm-9">
      <div class="row">
        <p>Calories Summary</p>
			<div id="reportrange" class="pull-right"
				style="background: #fff; cursor: pointer; text-align: -webkit-center; border: 2px solid #52d3aa; width: 100%; border-radius: 35px">
				<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp; <span></span>
				<b class="caret"></b>
			</div>
	  </div>
      <!-- <div class="row">
        <p>Food Suggestions</p>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <p>User Feed</p>
        </div>
        <div class="col-sm-4">
          <p>Nutrient chart</p>
        </div>
      </div> -->
    </div>
  </span>
</span>