<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <!-- include sidebar. Always include inside a row element -->
    <div ng-include src="'partials/sidebar.html'" />

    <div class="col-xs-12 col-sm-9">
      <div class="row">
        <p>Calories Summary</p>
      </div>
      <div class="row">
        <p>Food Suggestions</p>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <p>User Feed</p>
        </div>
        <div class="col-sm-4">
          <p>Nutrient chart</p>
        </div>
      </div>
    </div>
  </div>
</div>