<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">EatRight Quote</h1>
							<h2 class="to-animate">Something Else</h2>

							<p> 
								<button class="btn btn-lg text-normal btn-primary-outline"><a href="#/haha" onclick="showNavigation()">Login</a></button>
								<button class="btn btn-lg text-normal btn-primary-outline"><a href="register"/>Register</a></button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>