
<section id="fh5co-home" data-section="home" style=""0.5">
	<!-- <div class="gradient">
		<video id="bg" src="images/ExerciseVsDiet.mp4" autoplay="true" loop="true" muted="true" style="width: 100%;"></video>
	</div> -->
	<!-- <div class="container">
		<video id="bg" src="images/ExerciseVsDiet.mp4" autoplay="true" loop="true" muted="true" style="width: 100%;"></video>
	</div> -->
	<div class="container"
		style="width: 100%; height: 70%; margin-top: 1%;">
		<video id="bg" src="images/ExerciseVsDiet.mp4" autoplay="true"
			loop="true" muted="true" style="width: 100%;"></video>
		<!-- <div class="text-wrap">
			<div class="text-inner">
				<div class="row">
					
				</div>
			</div>
		</div> -->
	</div>
</section>
<modal title="Login form" visible="showModal">
<form class="form-signin" ng-submit="login(); toggleModal()"
	ng-controller="loginController">
	<table border="0" style="width: 100%;">
		<tr>
			<td>Email ID<span style="color: red;">*</span>:
			</td>
			<td><input type="email" id="inputEmail"
				ng-model="credentials.username" class="form-control"
				placeholder="Email address" required autofocus></td>
		</tr>
		<tr></tr>
		<tr>
			<td>Password<span style="color: red;">*</span>:
			</td>
			<td><input type="password" id="inputPassword"
				ng-model="credentials.password" class="form-control"
				placeholder="Password" required></td>
		</tr>
		<!-- <tr>
			<td>
				<div class="checkbox">
			        <label>
			          <input type="checkbox" value="remember-me"> Remember me
			        </label>
			    </div>
			</td>
		</tr> -->
		<tr>
			<td colspan="2" align="center"><button
					class="btn btn-lg btn-primary btn-block" type="submit">Sign
					in</button></td>
		</tr>
	</table>
</form>
</modal>
<modal1 title="Registration form" visible="showRegisModal">
<form ng-submit="register(user,food); toggleRegisModal()" method="post"
	ng-controller="registrationController">
	<table border="0" style="width: 100%;">
		<tr>
			<td>First Name<span style="color: red;">*</span>: <input
				placeholder="First Name" class="form-control" type="text"
				name="firstName" value="LMNO" ng-model="user.firstName"
				required="required" /></td>
			<td>Last Name<span style="color: red;">*</span>:<input
				placeholder="Last Name" class="form-control" type="text"
				name="lastName" value="LMNO" ng-model="user.lastName"
				required="required" /></td>
			<td>E-mail<span style="color: red;">*</span>:<input
				placeholder="Email address" class="form-control" type="email"
				name="emailID" value="LMNO@gmail.com" ng-model="user.emailID"
				required="required" /></td>
			<td>Password<span style="color: red;">*</span>:<input
				placeholder="Password" class="form-control" type="password"
				value="lmno" ng-model="user.password" required="required" /></td>
		</tr>
		<tr>
			<td>Contact Number:<input placeholder="Contact Number"
				class="form-control" type="number" ng-model="user.contactNumber" /></td>
			<td>Age<span style="color: red;">*</span>:<input
				placeholder="Age" class="form-control" type="number" value=45
				ng-model="user.age" required="required" /></td>
			<td>Gender<span style="color: red;">*</span>:<select
				class="form-control" name="gender" ng-model="user.gender"
				required="required">
					<option value="">Select</option>
					<option value="female">Female</option>
					<option value="male">Male</option>
			</select>
			</td>
			<td>Current Location<span style="color: red;">*</span>:<input
				placeholder="Current Location" class="form-control" type="text"
				value="sj" ng-model="user.currentLocation" required="required" /></td>
		</tr>
		<tr>
			<td>Height (Feet)<span style="color: red;">*</span>:<input
				placeholder="Height in Feet" class="form-control" type="text"
				value="33" ng-model="user.height" required="required" /></td>
			<td>Weight (Kgs)<span style="color: red;">*</span>:<input
				placeholder="Weight in Kgs" class="form-control" type="text"
				value="33" ng-model="user.weight" required="required" /></td>
			<td colspan="2">Activity Level<span style="color: red;">*</span>:
				<select class="form-control" name="actLevel"
				ng-model="user.activityLevel" required="required">
					<option value="">Select</option>
					<option value="veryActive" selected>Very Active</option>
					<option value="active">Active</option>
					<option value="moderateActive">Moderate</option>
					<option value="noActivity">No Activity</option>
			</select>
			</td>
		</tr>
		<tr>
			<td colspan="2">Goal Type<span style="color: red;">*</span>: <select
				class="form-control" name="goalType" ng-model="user.goalType"
				required>
					<option value="">Select</option>
					<option value="gain" selected>Gain Weight</option>
					<option value="lose">Lose Weight</option>
					<option value="maintain">Maintain Weight</option>

			</select>
			</td>
			<td colspan="2">Target Weight (kgs)<span style="color: red;">*</span>:<input
				placeholder="Target weight in pounds" class="form-control"
				type="number" value="33" ng-model="user.targetWeight" required /></td>
		</tr>
		<tr>
			<td>Food preference<span style="color: red;">*</span>: <select
				class="form-control" name="foodPreference" ng-model="user.foodpref"
				required>
					<option value="">Select</option>
					<option value="Vegetarian" selected>Vegetarian</option>
					<option value="Non-Vegetarian">Non-Vegetarian</option>
			</select>
			</td>
		</tr>
		<tr>
			<table style="width: 100%;">
				<tr>
					<td colspan="2">Do you like?</td>
				</tr>
				<tr>
					<td><label class="col-xs-2">Milk<span
							style="color: red;">*</span>:
					</label>
						<div class="col-xs-5">
							<div class="slider-font-style" style="margin-left: 0px;">
								<div class="rating1">
									<input type="radio" id="star51" name="rating1" value="5"
										ng-click="ratings(1079, 5)" required /><label for="star51"
										title="Rocks!">5 stars</label> <input type="radio" id="star41"
										name="rating1" value="4" ng-click="ratings(1079, 4)" /><label
										for="star41" title="Pretty good">4 stars</label> <input
										type="radio" id="star31" name="rating1" value="3"
										ng-click="ratings(1079, 3)" /><label for="star31" title="Meh">3
										stars</label> <input type="radio" id="star21" name="rating1" value="2"
										ng-click="ratings(1079, 2)" /><label for="star21"
										title="Kinda bad">2 stars</label> <input type="radio"
										id="star11" name="rating1" value="1"
										ng-click="ratings(1079, 1)" /><label for="star11"
										title="Sucks big time">1 star</label>
								</div>
							</div>
						</div></td>
				</tr>
				<tr>
					<td><label class="col-xs-2">Apples<span
							style="color: red;">*</span>:
					</label>
						<div class="col-xs-5">
							<div class="slider-font-style" style="margin-left: 0px;">
								<div class="rating2">
									<input type="radio" id="star52" name="rating2" value="5"
										ng-click="ratings(9003, 5)" required /><label for="star52"
										title="Rocks!">5 stars</label> <input type="radio" id="star42"
										name="rating2" value="4" ng-click="ratings(9003, 4)" /><label
										for="star42" title="Pretty good">4 stars</label> <input
										type="radio" id="star32" name="rating2" value="3"
										ng-click="ratings(9003, 3)" /><label for="star32" title="Meh">3
										stars</label> <input type="radio" id="star22" name="rating2" value="2"
										ng-click="ratings(9003, 2)" /><label for="star22"
										title="Kinda bad">2 stars</label> <input type="radio"
										id="star12" name="rating2" value="1"
										ng-click="ratings(9003, 1)" /><label for="star12"
										title="Sucks big time">1 star</label>
								</div>
							</div>
						</div></td>
				</tr>
				<tr>
					<td><label class="col-xs-2">Lentils, Sprouted<span
							style="color: red;">*</span>:
					</label>
						<div class="col-xs-5">
							<div class="slider-font-style" style="margin-left: 0px;">
								<div class="rating3">
									<input type="radio" id="star53" name="rating3" value="5"
										ng-click="ratings(11926, 5)" required /><label for="star53"
										title="Rocks!">5 stars</label> <input type="radio" id="star43"
										name="rating3" value="4" ng-click="ratings(11926, 4)" /><label
										for="star43" title="Pretty good">4 stars</label> <input
										type="radio" id="star33" name="rating3" value="3"
										ng-click="ratings(11926, 3)" /><label for="star33"
										title="Meh">3 stars</label> <input type="radio" id="star23"
										name="rating3" value="2" ng-click="ratings(11926, 2)" /><label
										for="star23" title="Kinda bad">2 stars</label> <input
										type="radio" id="star13" name="rating3" value="1"
										ng-click="ratings(11926, 1)" /><label for="star13"
										title="Sucks big time">1 star</label>
								</div>
							</div>
						</div></td>
				</tr>
				<tr>
					<td><label class="col-xs-2">Potatoes, Fried<span
							style="color: red;">*</span>:
					</label>
						<div class="col-xs-5">
							<div class="slider-font-style" style="margin-left: 0px;">
								<div class="rating4">
									<input type="radio" id="star54" name="rating4" value="5"
										ng-click="ratings(11840, 5)" required /><label for="star54"
										title="Rocks!">5 stars</label> <input type="radio" id="star44"
										name="rating4" value="4" ng-click="ratings(11840, 4)" /><label
										for="star44" title="Pretty good">4 stars</label> <input
										type="radio" id="star34" name="rating4" value="3"
										ng-click="ratings(11840, 3)" /><label for="star34"
										title="Meh">3 stars</label> <input type="radio" id="star24"
										name="rating4" value="2" ng-click="ratings(11840, 2)" /><label
										for="star24" title="Kinda bad">2 stars</label> <input
										type="radio" id="star14" name="rating4" value="1"
										ng-click="ratings(11840, 1)" /><label for="star14"
										title="Sucks big time">1 star</label>
								</div>
							</div>
						</div></td>
				</tr>
				<tr>
					<td>
						<div ng-if="user.foodpref === 'Non-Vegetarian'">
							<label class="col-xs-2">Beef patties<span
								style="color: red;">*</span>:
							</label>
							<div class="col-xs-5">
								<div class="slider-font-style" style="margin-left: 0px;">
									<div class="rating5">
										<input type="radio" id="star55" name="rating5" value="5"
											ng-click="ratings(13317, 5)" required /><label for="star55"
											title="Rocks!">5 stars</label> <input type="radio"
											id="star45" name="rating5" value="4"
											ng-click="ratings(13317, 4)" /><label for="star45"
											title="Pretty good">4 stars</label> <input type="radio"
											id="star35" name="rating5" value="3"
											ng-click="ratings(13317, 3)" /><label for="star35"
											title="Meh">3 stars</label> <input type="radio" id="star25"
											name="rating5" value="2" ng-click="ratings(13317, 2)" /><label
											for="star25" title="Kinda bad">2 stars</label> <input
											type="radio" id="star15" name="rating5" value="1"
											ng-click="ratings(13317, 1)" /><label for="star15"
											title="Sucks big time">1 star</label>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div ng-if="user.foodpref === 'Non-Vegetarian'">
							<label class="col-xs-2">Chicken wings with BBQ Sauce<span
								style="color: red;">*</span>:
							</label>
							<div class="col-xs-5">
								<div class="slider-font-style" style="margin-left: 0px;">
									<div class="rating6">
										<input type="radio" id="star56" name="rating6" value="5"
											ng-click="ratings(5312, 5)" required /><label for="star56"
											title="Rocks!">5 stars</label> <input type="radio"
											id="star46" name="rating6" value="4"
											ng-click="ratings(5312, 4)" /><label for="star46"
											title="Pretty good">4 stars</label> <input type="radio"
											id="star36" name="rating6" value="3"
											ng-click="ratings(5312, 3)" /><label for="star36"
											title="Meh">3 stars</label> <input type="radio" id="star26"
											name="rating6" value="2" ng-click="ratings(5312, 2)" /><label
											for="star26" title="Kinda bad">2 stars</label> <input
											type="radio" id="star16" name="rating6" value="1"
											ng-click="ratings(5312, 1)" /><label for="star16"
											title="Sucks big time">1 star</label>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div ng-if="user.foodpref === 'Vegetarian'">
							<label class="col-xs-2">Pasta with Onion and Garlic
								Italian Sauce<span style="color: red;">*</span>:
							</label>
							<div class="col-xs-5">
								<div class="slider-font-style" style="margin-left: 0px;">
									<div class="rating7">
										<input type="radio" id="star57" name="rating7" value="5"
											ng-click="ratings(6222, 5)" required /><label for="star57"
											title="Rocks!">5 stars</label> <input type="radio"
											id="star47" name="rating7" value="4"
											ng-click="ratings(6222, 4)" /><label for="star47"
											title="Pretty good">4 stars</label> <input type="radio"
											id="star37" name="rating7" value="3"
											ng-click="ratings(6222, 3)" /><label for="star37"
											title="Meh">3 stars</label> <input type="radio" id="star27"
											name="rating7" value="2" ng-click="ratings(6222, 2)" /><label
											for="star27" title="Kinda bad">2 stars</label> <input
											type="radio" id="star17" name="rating7" value="1"
											ng-click="ratings(6222, 1)" /><label for="star17"
											title="Sucks big time">1 star</label>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div ng-if="user.foodpref === 'Non-Vegetarian'">
							<label class="col-xs-2">Pasta with Mini Meatballs Italian
								Sauce<span style="color: red;">*</span>:
							</label>
							<div class="col-xs-5">
								<div class="slider-font-style" style="margin-left: 0px;">
									<div class="rating8">
										<input type="radio" id="star58" name="rating8" value="5"
											ng-click="ratings(6228, 5)" required /><label for="star58"
											title="Rocks!">5 stars</label> <input type="radio"
											id="star48" name="rating8" value="4"
											ng-click="ratings(6228, 4)" /><label for="star48"
											title="Pretty good">4 stars</label> <input type="radio"
											id="star38" name="rating8" value="3"
											ng-click="ratings(6228, 3)" /><label for="star38"
											title="Meh">3 stars</label> <input type="radio" id="star28"
											name="rating8" value="2" ng-click="ratings(6228, 2)" /><label
											for="star28" title="Kinda bad">2 stars</label> <input
											type="radio" id="star18" name="rating8" value="1"
											ng-click="ratings(6228, 1)" /><label for="star18"
											title="Sucks big time">1 star</label>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</tr>
		<tr>
			<td colspan="2" align="center"><input
				class="btn btn-lg btn-primary btn-block" type="submit"
				value="Register" /></td>
		</tr>
	</table>
</form>
</modal1>
<section id="fh5co-intro">
	<div class="col-md-8"
		style="margin-left: 38%; font-weight: 700; margin-top: -10%;">
		<h1 class="to-animate fadeInRight animated"
			style="margin-left: -13%; width: 100%; font-weight: 700; font-size: -webkit-xxx-large;">Don't
			Eat less, EatRight!</h1>
		<p>
			<button class="btn btn-lg text-normal btn-primary-outline"
				ng-click="toggleModal()"
				style="background-color: #52d3aa; color: white;">Login</button>
			<button class="btn btn-lg text-normal btn-primary-outline"
				ng-click="toggleRegisModal()"
				style="background-color: #52d3aa; color: white;">Register</button>
		</p>
	</div>
	<div class="container" style="margin-top: 4%;">
		<div class="row row-bottom-padded-lg"
			style="margin-right: -9%; margin-left: -7%;">
			<div class="fh5co-block to-animate" style="background-color: black;">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<i class="fh5co-intro-icon"><span
						class="glyphicon glyphicon-scale"></span></i>
					<h2 style="color: white;">Fitness Device</h2>
					<p style="color: white;">Connect all fitness devices in a
						single independent platform.</p>
					<!-- <p><a href="#" class="btn btn-primary">Get In Touch</a></p> -->
				</div>
			</div>
			<div class="fh5co-block to-animate" style="background-color: black;">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<i class="fh5co-intro-icon"><span
						class="glyphicon glyphicon-apple"></span></i>
					<h2 style="color: white;">Food Reccommendations</h2>
					<p style="color: white;">Get daily food suggestions based on
						your food preferences. Log daily food and track calorie
						consumption.</p>
					<!-- <p><a href="#" class="btn btn-primary">Click Me</a></p> -->
				</div>
			</div>
			<div class="fh5co-block to-animate" style="background-color: black;">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<i class="fh5co-intro-icon"><span
						class="glyphicon glyphicon-road"></span></i>
					<h2 style="color: white;">Activity Feeds</h2>
					<p style="color: white;">Get latest food activity details every
						day. Log daily activities and track calories burnt.</p>
					<!-- <p><a href="#" class="btn btn-primary">Why Us?</a></p> -->
				</div>
			</div>
			<div class="fh5co-block to-animate" style="background-color: black;">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<i class="fh5co-intro-icon"><span
						class="glyphicon glyphicon-leaf"></span></i>
					<h2 style="color: white;">Nutrient Plan</h2>
					<p style="color: white;">View division of Carbohydrates, Fats
						and Protiens based on daily calories and target weight.</p>
					<!-- <p><a href="#" class="btn btn-primary">Why Us?</a></p> -->
				</div>
			</div>
			<div class="fh5co-block to-animate" style="background-color: black;">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<i class="fh5co-intro-icon"><span
						class="glyphicon glyphicon-user"></span></i>
					<h2 style="color: white;">Calorie Summary</h2>
					<p style="color: white;">Keep a track daily calories, calories
						burnt and calories consumed.</p>
					<!-- <p><a href="#" class="btn btn-primary">Why Us?</a></p> -->
				</div>
			</div>
		</div>
		<!-- <div class="row watch-video text-center to-animate">
			<span>Watch the video</span>
			<video width="320" height="240" controls>
			  <source src="video/exerciseVsDiet.mp4" type="video/mp4">
			</video>
			<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><i class="icon-play2"></i></a>
		</div> -->
	</div>
</section>

<!-- <section id="fh5co-work" data-section="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">Work</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-bottom-padded-sm">
			<div class="col-md-4 col-sm-6 col-xxs-12">
				<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
					<img src="images/work_1.jpg" alt="Image" class="img-responsive">
					<div class="fh5co-text">
						<h2>Project 1</h2>
						<span>Branding</span>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xxs-12">
				<a href="images/work_2.jpg" class="fh5co-project-item image-popup to-animate">
					<img src="images/work_2.jpg" alt="Image" class="img-responsive">
					<div class="fh5co-text">
						<h2>Project 2</h2>
						<span>Web</span>
					</div>
				</a>
			</div>

			<div class="clearfix visible-sm-block"></div>

			<div class="col-md-4 col-sm-6 col-xxs-12">
				<a href="images/work_3.jpg" class="fh5co-project-item image-popup to-animate">
					<img src="images/work_3.jpg" alt="Image" class="img-responsive">
					<div class="fh5co-text">
						<h2>Project 3</h2>
						<span>Web</span>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xxs-12">
				<a href="images/work_4.jpg" class="fh5co-project-item image-popup to-animate">
					<img src="images/work_4.jpg" alt="Image" class="img-responsive">
					<div class="fh5co-text">
						<h2>Project 4</h2>
						<span>UI/UX</span>
					</div>
				</a>
			</div>
			
			<div class="clearfix visible-sm-block"></div>

			<div class="col-md-4 col-sm-6 col-xxs-12">
				<a href="images/work_5.jpg" class="fh5co-project-item image-popup to-animate">
					<img src="images/work_5.jpg" alt="Image" class="img-responsive">
					<div class="fh5co-text">
						<h2>Project 1</h2>
						<span>Photography</span>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xxs-12">
				<a href="images/work_6.jpg" class="fh5co-project-item image-popup to-animate">
					<img src="images/work_6.jpg" alt="Image" class="img-responsive">
					<div class="fh5co-text">
						<h2>Project 2</h2>
						<span>Illustration</span>
					</div>
				</a>
			</div>
			
			<div class="clearfix visible-sm-block"></div>

			<div class="col-md-4 col-sm-6 col-xxs-12">
				<a href="images/work_7.jpg" class="fh5co-project-item image-popup to-animate">
					<img src="images/work_7.jpg" alt="Image" class="img-responsive">
					<div class="fh5co-text">
						<h2>Project 3</h2>
						<span>Web</span>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xxs-12">
				<a href="images/work_8.jpg" class="fh5co-project-item image-popup to-animate">
					<img src="images/work_8.jpg" alt="Image" class="img-responsive">
					<div class="fh5co-text">
						<h2>Project 4</h2>
						<span>Sketch</span>
					</div>
				</a>
			</div>

			<div class="clearfix visible-sm-block"></div>

			<div class="col-md-4 col-sm-6 col-xxs-12">
				<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
					<img src="images/work_1.jpg" alt="Image" class="img-responsive">
					<div class="fh5co-text">
						<h2>Project 2</h2>
						<span>Illustration</span>
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center to-animate">
				<p>* Demo images from <a href="http://plmd.me/" target="_blank">plmd.me</a></p>
			</div>
		</div>
	</div>
</section>

<section id="fh5co-testimonials" data-section="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">Testimonials</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="box-testimony">
					<blockquote class="to-animate-2">
						<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
					</blockquote>
					<div class="author to-animate">
						<figure><img src="images/person1.jpg" alt="Person"></figure>
						<p>
							Jean Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box-testimony">
					<blockquote class="to-animate-2">
						<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
					</blockquote>
					<div class="author to-animate">
						<figure><img src="images/person2.jpg" alt="Person"></figure>
						<p>
							John Doe, Senior UI <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span>
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="box-testimony">
					<blockquote class="to-animate-2">
						<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. &rdquo;</p>
					</blockquote>
					<div class="author to-animate">
						<figure><img src="images/person3.jpg" alt="Person"></figure>
						<p>
							Chris Nash, Director <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span>
						</p>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
</section>


<section id="fh5co-services" data-section="services">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-left">
				<h2 class=" left-border to-animate">Services</h2>
				<div class="row">
					<div class="col-md-8 subtext to-animate">
						<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 fh5co-service to-animate">
				<i class="icon to-animate-2 icon-anchor"></i>
				<h3>Brand &amp; Strategy</h3>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
			</div>
			<div class="col-md-6 col-sm-6 fh5co-service to-animate">
				<i class="icon to-animate-2 icon-layers2"></i>
				<h3>Web &amp; Interface</h3>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
			</div>

			<div class="clearfix visible-sm-block"></div>

			<div class="col-md-6 col-sm-6 fh5co-service to-animate">
				<i class="icon to-animate-2 icon-video2"></i>
				<h3>Photo &amp; Video</h3>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
			</div>
			<div class="col-md-6 col-sm-6 fh5co-service to-animate">
				<i class="icon to-animate-2 icon-monitor"></i>
				<h3>CMS &amp; eCommerce</h3>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
			</div>
			
		</div>
	</div>
</section> -->

<section id="fh5co-about" data-section="about">
	<div class="container" style="margin-top: 0%;">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">About</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>If you dont do what is best for your body, you are the
							one who comes up on the short end.</h3>
						<h3>EatRight is a device independent fitness tracking
							application that takes complete control of your daily diet and
							physical activities by allowing you to set target goals and
							providing you with a daily planned diet. The diet plan focuses on
							user's physical activity level, taste preferences for food, food
							likes and dislikes and daily calorie requirements suiting the
							fitness goal. EatRight makes it easier for the user to focus on
							his diet by providing food recommendations.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="fh5co-person text-center to-animate">
					<figure>
						<img src="images/Amit.jpg" alt="Image">
					</figure>
					<h3>Amit Dubey</h3>
					<span class="fh5co-position">Software Architect</span>
					<p>My primary area of interest and expertise is in Software
						Development Algorithms.</p>
					<!-- <ul class="social social-circle">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul> -->
				</div>
			</div>
			<div class="col-md-4">
				<div class="fh5co-person text-center to-animate">
					<figure>
						<img src="images/Jenil.jpg" alt="Image">
					</figure>
					<h3>Jenil Doshi</h3>
					<span class="fh5co-position">Software Application Developer</span>
					<p>My primary area of interest and expertise is in Web
						Application Development.</p>
					<!-- <ul class="social social-circle">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-github"></i></a></li>
					</ul> -->
				</div>
			</div>
			<div class="col-md-4">
				<div class="fh5co-person text-center to-animate">
					<figure>
						<img src="images/Raina.jpg" alt="Image">
					</figure>
					<h3>Raina Shastri</h3>
					<span class="fh5co-position">Software Engineer</span>
					<p style="margin-bottom: 31%;">My primary area of interest and
						expertise is in Enterprise Software Development.</p>
					<!-- <ul class="social social-circle">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul> -->
				</div>
			</div>
			<div class="col-md-4">
				<div class="fh5co-person text-center to-animate">
					<figure>
						<img src="images/Vrushank.jpg" alt="Image">
					</figure>
					<h3>Vrushank Doshi</h3>
					<span class="fh5co-position">Software Engineer in Test</span>
					<p>My primary area of interest and expertise is in Software
						Testing Frameworks.</p>
					<!-- <ul class="social social-circle">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</section>

<section id="fh5co-counters"
	style="background-image: url(images/full_image_1.jpg);"
	data-stellar-background-ratio="0.5">
	<div class="fh5co-overlay"></div>
	<div class="container" style="margin-top: 0%;">
		<div class="row">
			<div class="col-md-12 section-heading text-center to-animate">
				<h2>Technologies</h2>
			</div>
		</div>
		<div class="row" style="margin-left: -7%; margin-right: -13%;">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="fh5co-counter to-animate">
					<img alt="html" src="images/html.png">
					<!-- <i class="fh5co-counter-icon icon-briefcase to-animate-2"></i>
					<span class="fh5co-counter-number js-counter" data-from="0" data-to="89" data-speed="5000" data-refresh-interval="50">89</span> -->
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="fh5co-counter to-animate">
					<img alt="CSS" src="images/css.png">
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="fh5co-counter to-animate">
					<img alt="java" src="images/java.png">
					<!-- <i class="fh5co-counter-icon icon-cup to-animate-2"></i>
					<span class="fh5co-counter-number js-counter" data-from="0" data-to="1302" data-speed="5000" data-refresh-interval="50">1302</span>
					<span class="fh5co-counter-label">Cup of coffees</span> -->
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="fh5co-counter to-animate">
					<img alt="js" src="images/js.jpg">
					<!-- <i class="fh5co-counter-icon icon-people to-animate-2"></i>
					<span class="fh5co-counter-number js-counter" data-from="0" data-to="52" data-speed="5000" data-refresh-interval="50">52</span>
					<span class="fh5co-counter-label">Happy clients</span> -->
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="fh5co-counter to-animate">
					<img alt="js" src="images/sql.jpg">
					<!-- <i class="fh5co-counter-icon icon-people to-animate-2"></i>
					<span class="fh5co-counter-number js-counter" data-from="0" data-to="52" data-speed="5000" data-refresh-interval="50">52</span>
					<span class="fh5co-counter-label">Happy clients</span> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 
<section id="fh5co-contact" data-section="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">Get In Touch</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-bottom-padded-md">
			<div class="col-md-6 to-animate">
				<h3>Contact Info</h3>
				<ul class="fh5co-contact-info">
					<li class="fh5co-contact-address ">
						<i class="icon-home"></i>
						5555 Love Paradise 56 New Clity 5655, <br>Excel Tower United Kingdom
					</li>
					<li><i class="icon-phone"></i> (123) 465-6789</li>
					<li><i class="icon-envelope"></i>info@freehtml5.co</li>
					<li><i class="icon-globe"></i> <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></li>
				</ul>
			</div>

			<div class="col-md-6 to-animate">
				<h3>Contact Form</h3>
				<div class="form-group ">
					<label for="name" class="sr-only">Name</label>
					<input id="name" class="form-control" placeholder="Name" type="text">
				</div>
				<div class="form-group ">
					<label for="email" class="sr-only">Email</label>
					<input id="email" class="form-control" placeholder="Email" type="email">
				</div>
				<div class="form-group ">
					<label for="phone" class="sr-only">Phone</label>
					<input id="phone" class="form-control" placeholder="Phone" type="text">
				</div>
				<div class="form-group ">
					<label for="message" class="sr-only">Message</label>
					<textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
				</div>
				<div class="form-group ">
					<input class="btn btn-primary btn-lg" value="Send Message" type="submit">
				</div>
			</div>
		</div>

	</div>
</div> -->
</section>
<div class="container" style="width: 35%" align="center">
	<div class="">
		<div class="col-md-12 text-center">
			<p>&copy; EatRight. All Rights Reserved.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<ul class="social social-circle">
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-youtube"></i></a></li>
			</ul>
		</div>
	</div>
</div>
