<div class="container">
	<div class="row row-offcanvas row-offcanvas-left">
		<!-- include sidebar. Always include inside a row element -->
		<div ng-include src="'partials/sidebar.html'" />
		<div ng-include src="'js/commons/slider.js'"/>
		<!-- start -->
		
		<section>
		      <div class="col-sm-8">
		        
				<div id="legend">
					      <legend class=""><H2><strong>Log Food</strong></H2></legend>
				</div>
				<form class="form-horizontal" ng-submit="logFood()">
			  	 <div class="form-group">
			        <label class="col-xs-2 control-label" for="foodName">Food Name</label>
			        <div class="col-xs-8">
			            <input type="text" id="foodName" class="form-control" placeholder="" ng-model="food.name" required>
			            <span class="help-block">Name of Food item consumed</span>
			        </div>
			    </div>			
			    <div class="form-group">
			        <label class="col-xs-2 control-label" for="foodType">Food Type</label>
			        <div class="col-xs-10">
			            <select name="foodType" id="foodType" class="form-control" placeholder="" ng-model="food.type" required>
			            <option value="">Please select</option>
			            <option>Breakfast</option>
    					<option>Lunch</option>
  						<option>Dinner</option>
   				 		<option>Snacks</option>
			            </select>
			            <span class="help-block">Type of Food item consumed</span>
			        </div>
			    </div>	
			    
				<div class="form-group">
			        <label class="col-xs-2 control-label" for="foodCalorie">Calories</label>
				       <div class="col-xs-6">
				       		<div range-slider min="0" max="1500" model-max="userCal.max"  pin-handle="min"></div>
				       </div>
			        <div class="help-block col-xs-6">Calories in food item</div>
			        
			    </div>
			    
			    <div class="form-group">
			        <label class="col-xs-2 control-label" for="wtConsumed" required>Weight Consumed</label>
				       	<div class="col-xs-6">
				        	<div range-slider min="0" max="100" model-max="userWt.max"  pin-handle="min"></div>
				        </div>	
			        <div class="help-block col-xs-6">Weight of food item</div>
			    </div>
			    <div class="form-group">
			        <label class="col-xs-2 control-label" for="time">Time</label>
				        <div class="col-xs-6">
		                    <input type='datetime-local' class="form-control" id="time" ng-model="food.timeConsumed" required/>
					        <div class="help-block">Time when food item was consumed</div> 
				       </div>
			    </div>
			<button class="btn btn-primary btn-block" type="submit"><strong>Log</strong></button>
			</form>
		    </div>       
		          
		        
		   
		   <!-- /container -->
		</section>
		<!-- end -->
		
		
		
		
		
		</div>
		</div>