<!-- <div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation" style="position:fixed">
   <ul>
        <li class="active" style="width: 100%"><a href="#/user/dashboard"
        target="">Home</a></li>

        <li style="width: 100%"><a href="#/getFoodLogged" target="">Log/View Food Items</a></li>

        <li style="width: 100%"><a href="#/getLoggedActivity" target="">Log/View Activities</a></li>

        <li style="width: 100%"><a href="#/addFitnessDevice" target="">Your Fitness Devices</a></li>

        <li style="width: 100%"><a href="#/profile" target="">Profile</a></li>
    </ul>     
</div>
 -->
<div class="sidebar-offcanvas span3 bs-docs-sidebar sidebar" role="navigation">
    <ul class="nav nav-list bs-docs-sidenav affix">
      <li class="active"><a href="#/user/dashboard"><i class="icon-chevron-right"></i>Home</a></li>
      <li class=""><a href="#/getFoodLogged"><i class="icon-chevron-right"></i>Log/View Food Items</a></li>
      <li><a href="#/getLoggedActivity"><i class="icon-chevron-right"></i>Log/View Activities</a></li>
      <li><a href="#/addFitnessDevice"><i class="icon-chevron-right"></i>Your Fitness Devices</a></li>
      <li><a href="#/profile"><i class="icon-chevron-right"></i>Profile</a></li>
      <li><a href="#" ng-click="logout()"><i class="icon-chevron-right"></i>Logout</span></a></li>
    </ul>
  </div>